#wel{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#box{
    margin-top: 200px;
    background-color: aqua;
    border-radius: 20px;
    padding: 100px;
}

body {
    background: linear-gradient(rgba(0, 0, 3, 0),rgba(0, 0, 3, 0)),url(image3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}