/* .name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#info {
  width: 100%;
  height: 70px;
  background-color: burlywood;
  transition-property: width, height;
  transition-duration: 1s;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

#info:hover {
  width: 100%;
  height: 120px;
  background-color: rgb(199, 165, 120);
  transform: rotate(360deg);
}

.txt1 {
  color: white;
  font-size: 30px;
  text-align: center;
  display: none;
  margin-top: 20px;
  text-align: center;
  opacity: 0;
  animation: ani 0.7s ease-out forwards;
  animation: ani 0.7s ease-in forwards;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#info:hover .txt1 {
  display: block;
}

@keyframes ani {
  100% {
    opacity: 1;
  }
} */

/* #menu{
    display: none;
}

.container{
    position: absolute;
    margin-top: 70px;
}
 */

.cuba{
    margin-top: 300px !important;
}



#img {
    width: 100%;
    height: 250px;
}

#name{
  background-color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  padding: 0%;
}